<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="mb-3 form-group">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" />
  </div>
  <div class="mb-3 form-group">
    <label for="description" class="form-label">Post</label>
    <textarea
      class="form-control"
      id="description"
      rows="3"
      name="description"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer') -%>
